{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>Green Bank</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>Simulateur d'emprunt pour l'achat d'une voiture</h1>
        <p>Vous pouvez simuler votre emprunt pour l'achat d'une voiture en remplissant le formulaire ci-dessous.</p>
    </header>

    <main>

        <h2>Formulaire Interactif</h2>

        <div class="type_vehicule {{ hide_vehicule }}">
            <h3>Type de Vehicule</h3>

            <div class="content">
                <div class="choix" data-value="Citadine" data-name="car">
                    <div class="nom">
                        <div class="img"><img src="{% static 'img/voiture1.png'%}"></div>
                        <h4>Citadine</h4>
                    </div>
                    <div class="info">
                        <p>{{ citadine }}</p>
                    </div>
                </div>
    
                <div class="choix" data-value="Cabriolet" data-name="car">
                    <div class="nom">
                        <div class="img"><img src="{% static 'img/voiture2.png'%}"></div>
                        <h4>Cabriolet</h4>
                    </div>
                    <div class="info">
                        <p>{{ cabriolet }}</p>
                    </div>
                </div>
    
                <div class="choix" ata-value="Berline" data-name="car">
                    <div class="nom">
                        <div class="img"><img src="{% static 'img/voiture3.png'%}"></div>
                        <h4>Berline</h4>
                    </div>
                    <div class="info">
                        <p>{{ berline }}</p>
                    </div>
                </div>
    
                <div class="choix" ata-value="SUV / 4x4" data-name="car">
                    <div class="nom">
                        <div class="img"><img src="{% static 'img/voiture4.png'%}"></div>
                        <h4>SUV / 4x4</h4>
                    </div>
                    <div class="info">
                        <p>{{ suv }}</p>
                    </div>
                </div>

            </div>

        </div>

        <div class="energie hide">
            <h3>Energie</h3>
            <div class="choix" data-value="essence" data-name="energie">
                <div class="img"><img src="{% static 'img/essence.png'%}"></div>
                <h4>Essence</h4>
            </div>
            <div class="choix" data-value="diezel" data-name="energie">
                <div class="img"><img src="{% static 'img/diesel.png'%}"></div>
                <h4>Diesel</h4>
            </div>
            <div class="choix" data-value="hybride" data-name="energie">
                <div class="img"><img src="{% static 'img/hybride.png'%}"></div>
                <h4>Hybride</h4>
            </div>
            <div class="choix" data-value="electrique" data-name="energie">
                <div class="img"><img src="{% static 'img/electrique.png'%}"></div>
                <h4>Electrique</h4>
            </div>
            <div class="choix" data-value="gaz" data-name="energie">
                <div class="img"><img src="{% static 'img/gaz.png'%}"></div>
                <h4>Gaz</h4>
            </div>
        </div>

        <div class="kilometrage hide">
            <h3>Kilometrage</h3>
            <div class="choix" data-value="kilometrage1" data-name="kilometrage">
                <div class="img"><img src="{% static 'img/kilometrage.png'%}"></div>
                <h4>{{ kilometrage1 }}</h4>
            </div>
            <div class="choix" data-value="kilometrage2" data-name="kilometrage">
                <div class="img"><img src="{% static 'img/kilometrage.png'%}"></div>
                <h4>{{ kilometrage2 }}</h4>
            </div>
            <div class="choix" data-value="kilometrage3" data-name="kilometrage">
                <div class="img"><img src="{% static 'img/kilometrage.png'%}"></div>
                <h4>{{ kilometrage3 }}</h4>
            </div>
            <div class="choix" data-value="kilometrage4" data-name="kilometrage">
                <div class="img"><img src="{% static 'img/kilometrage.png'%}"></div>
                <h4>{{ kilometrage4 }}</h4>
            </div>
            <div class="choix" data-value="kilometrage5" data-name="kilometrage">
                <div class="img"><img src="{% static 'img/kilometrage.png'%}"></div>
                <h4>{{ kilometrage5 }}</h4>
            </div>
        </div>

        <div class="nombre_passager hide">
            <h3>Nombre de Passager</h3>
            <div class="choix" data-value="passager1" data-name="passager">
                <div class="img"><img src="{% static 'img/passager.png'%}"></div>
                <h4>1 passager</h4>
            </div>
            <div class="choix" data-value="passager2" data-name="passager">
                <div class="img"><img src="{% static 'img/passager.png'%}"></div>
                <h4>2 passagers</h4>
            </div>
            <div class="choix" data-value="passager3" data-name="passager">
                <div class="img"><img src="{% static 'img/passager.png'%}"></div>
                <h4>3 passagers</h4>
            </div>
            <div class="choix" data-value="passager4" data-name="passager">
                <div class="img"><img src="{% static 'img/passager.png'%}"></div>
                <h4>4 passagers</h4>
            </div>
        </div>

        <div class="annee hide">
            <h3>Annee Fabriation</h3>
            <div class="choix" data-value="annee1" data-name="annee">
                <div class="img"><img src="{% static 'img/annee.png'%}"></div>
                <h4>{{ annee1 }}</h4>
            </div>
            <div class="choix" data-value="annee2" data-name="annee">
                <div class="img"><img src="{% static 'img/annee.png'%}"></div>
                <h4>{{ annee2 }}</h4>
            </div>
            <div class="choix" data-value="annee3" data-name="annee">
                <div class="img"><img src="{% static 'img/annee.png'%}"></div>
                <h4>{{ annee3 }}</h4>
            </div>
            <div class="choix" data-value="annee4" data-name="annee">
                <div class="img"><img src="{% static 'img/annee.png'%}"></div>
                <h4>{{ annee4 }}</h4>
            </div>
            <div class="choix" data-value="annee5" data-name="annee">
                <div class="img"><img src="{% static 'img/annee.png'%}"></div>
                <h4>{{ annee5 }}</h4>
            </div>
        </div>

        <div class="resultat {{ hide_resultat }}">
            <form method="GET" class="form_resultat">
                <input type="hidden" name="liste_choix" value="">
            </form>
            <p>{{ resultat }}</p>
        </div>

    </main>

    <!--ligne de separation-->
    <hr>


    <footer>
        <p>Comment on fonctionne</p>
        <div class="fonctionements">
            <img src="{% static 'img/fonctionements.png' %}" alt="logo" width="80%">
        </div>
    </footer>
    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>
